body {
  color: #fff;
  background-color: #779DBC;
}

div[data-testid="stHorizontalBlock"] > div:first-of-type {
  background-color: #add8e6;
}

div[data-testid="stHorizontalBlock"] > div:nth-of-type(2) {
  background-color: #F6EFE2;
}

div[data-testid="stHorizontalBlock"] > div:nth-of-type(4) {
  background-color: #F6EFE2;
}

div[data-testid="stHorizontalBlock"] > div:nth-of-type(5) {
  background-color: #add8e6;
}

